body,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: "Lato", sans-serif
}

h1,
button
{
    font-family: "Montserrat", sans-serif
}

.fa-pencil-square-o,
.fa-bank
{
    font-size: 200px
}

.inline
{
    display: inline;
}