
<!DOCTYPE html>
<html ng-app="poupanca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Contas</title>

        <!-- Styles -->
        <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="..\libs\css\contas.css">
    </head>

    <body ng-controller="ContasController as controller">
        <!-- Header -->
        <header class="w3-container w3-indigo w3-center w3-padding-64">
          <h1 class="w3-margin w3-jumbo">Poupança</h1>
          <!--<p class="w3-xlarge">Programação Orientada a Aspectos com JavaScript</p>-->
        </header>

      <!-- Navbar -->
      <ul class="w3-navbar w3-black w3-large w3-center">
        <li><a class="w3-white" href="#">Contas</a></li>
        <li><a href="operacoes.html">Operações</a></li>
        <li><a href="historico.html">Histórico</a></li>
      </ul>        

        <!-- First Grid -->
        <div class="w3-row-padding w3-padding-64 w3-container">
          <div class="w3-content">
            <div class="w3-twothird">
              <h1 class="inline">Criação de Conta - Poupança</h1>
              <button class="w3-btn w3-xlarge w3-green w3-right" ng-click="controller.salvar(conta)">Salvar</button>

              <form class="w3-container">
                <input class="w3-input w3-margin" type="text" placeholder="Nome" ng-model="conta.nome">
                <input class="w3-input w3-margin" type="text" placeholder="Banco" ng-model="conta.banco">
                <input class="w3-input w3-margin" type="text" placeholder="Agencia" ng-model="conta.agencia">
                <input class="w3-input w3-margin" type="text" placeholder="Número da Conta" ng-model="conta.numero">
                <input class="w3-input w3-margin" type="text" placeholder="Saldo" ng-model="conta.saldo">
                <input class="w3-input w3-margin" type="text" placeholder="Juros Mensal" ng-model="conta.juros">
                <input class="w3-input w3-margin" type="text" placeholder="Taxa Administrativa" ng-model="conta.taxa">
              </form>
            </div>

            <div class="w3-third w3-center">
              <i class="fa fa-pencil-square-o w3-padding-64 w3-text-red"></i>
            </div>
          </div>
        </div>

        <!-- Second Grid -->
        <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
          <div class="w3-content">
            <div class="w3-third w3-center">
              <i class="fa fa-bank w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>

            <div class="w3-twothird">
              <h1>Contas</h1>
              <table class="w3-table w3-striped w3-hoverable">
                <tr>
                  <th>Nome</th>
                  <th>Banco</th>
                  <th>Agencia</th>
                  <th>Conta</th>
                  <th>Saldo</th>
                  <th>Juros</th>
                  <th>Taxa</th>
                </tr>
                <tr ng-repeat="conta in contas" ng-click="controller.editar(this)">
                  <td>{{conta.nome}}</td>
                  <td>{{conta.banco}}</td>
                  <td>{{conta.agencia}}</td>
                  <td>{{conta.numero}}</td>
                  <td>{{conta.saldo}}</td>
                  <td>{{conta.juros}}</td>
                  <td>{{conta.taxa}}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!-- Footer -->
        <footer class="w3-container w3-padding-32 w3-center w3-opacity w3-black">
          <p class="inline w3-margin-right">Felipe Machert</p>
          <p class="inline w3-margin-left">Lucas Carlos</p>
        </footer>

        <!-- Firebase -->
        <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>      

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="..\libs\aop\aop.js"></script>
        
        
        <script src="..\firebase\firebase.js"></script>
        <script src="..\model\poupanca.js"></script>
        <script src="..\firebase\firebaseConta.js"></script>
        <script src="..\controller\conta.js"></script>
    </body>

</html>